.screen {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: '100vw';
  height: '100vh';
  z-index: 10000;
  
  * {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-app-region: no-drag;
  }
}

.draggableChild {
  background-color: #282828;
  color: var(--spice-text);
  font-weight: bold;
  overflow: hidden;
  border: solid #282828 8px;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem black);
}

.headerContainer {
  padding: 14px;
}